* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Gilroy-Extrabold;
    src: url("../fonts/Gilroy-Extrabold.ttf");
}

@font-face {
    font-family: Gilroy-Medium;
    src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: Tavolga;
    src: url("../fonts/tavolga-free.ttf");
}

body {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header {
    background-color: #eba8b1;
    padding: 38px 0 25px 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .menu {
    margin: 0 328px 0 233px;
}

.menu ul {
    list-style: none;
    display: flex;
    width: 313px;
    justify-content: space-between;
}

.menu-item {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
}

.menu-item:hover {
    border-bottom: 2px solid #821328;
}

.menu-item a {
    text-decoration: none;
    font-size: 14px;
    font-family: Gilroy-Medium, sans-serif;
    color: rgb(119, 11, 29);
}

.phone {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main {
    background-color: #eba8b1;
    padding: 126px 0 108px 0;
    overflow: hidden;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info {
    max-width: 580px;
}

.main-info h1 {
    font-size: 55px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    margin-right: 14px;
}

.main-text {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.389;
    margin-top: 60px;
    max-width: 345px;
}

.main-action {
    margin-top: 80px;
}

.btn {
    background: linear-gradient(to top, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    border-radius: 30px;
    border: 0;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 19px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.main-action .btn {
    width: 240px;
    font-size: 18px;
}

.main-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main-image::before, .main-image::after {
    content: '';
    position: absolute;
    border: 1px solid #8213287F;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    animation: pulse 1.8s linear infinite;
}

.main-image::after {
    animation-delay: .5s;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        transform: translate(-50%, -50%) scale(2.8);
        opacity: 0;
    }
}

.basic {
    background-color: #ffefef;
    padding: 120px 0 118px 0;
}

.basic-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 83px;
    position: relative;
}

.basic-info-text {
    max-width: 480px;
}

.basic-info-text h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    margin-bottom: 60px;
}

.basic-info-about {
    font-size: 18px;
    font-family: Gilroy, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
}

.basic-info-image {
    align-self: flex-end;
}

.basic-descriptions {
    display: grid;
    gap: 87px;
    grid-template-columns: repeat(4, 220px);
}

.description-number {
    width: 70px;
    height: 70px;
    margin-bottom: 13px;
    border-radius: 50%;
    background-color: #821328;
    line-height: 47px;
    position: relative;
    transition: all 0.5s ease;
}

.description-number .number {
    font-size: 60px;
    font-family: Gilroy-Extrabold, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: all 0.5s ease;
}

.description:hover > .description-number {
    background-color: #eba8b1;
}

.description:hover > .description-number > .number {
    color: #821328;
}

.description .description-title {
    font-size: 20px;
    font-family: Gilroy-Extrabold, sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 20px;
}

.description .description-text {
    font-size: 15px;
    font-family: Gilroy-Medium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
}

.products {
    background-color: #eba8b1;
    padding: 120px 0;
}

.products h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 140px;
}

.product-items {
    display: grid;
    gap: 29px;
    grid-template-columns: repeat(auto-fill, 263px);
}

.product-item {
    border: 2px solid #ffefef;
    border-radius: 20px;
    padding: 87px 20px 27px 20px;
    width: 263px;
    height: 229px;
    box-sizing: border-box;
    text-align: center;
    position: relative;

}

.product-item:hover .product-item-image {
    transform: scale(1.1);
}

.product-item-image {
    position: absolute;
    top: -60px;
    right: 36px;
    transition: all 0.5s ease;
}

.product-item-title {
    font-size: 18px;
    font-family: Tavolga, sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 26px;
}

.product-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item-info-about {
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 2;
}

.product-item-action .btn {
    width: 130px;
    font-size: 16px;
}

.order {
    background-color: #ffefef;
    padding: 98px 0 120px 0;
    overflow: hidden;
}

.order .container {
    display: flex;
    align-items: center;
    position: relative;
}

.order-info {
    max-width: 410px;
    margin-left: 161px;
}

.order-info h2 {
    font-size: 45px;
    font-family: Tavolga, sans-serif;
    color: rgb(51, 25, 7);
    margin-bottom: 41px;
}

.order-info-text {
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 48px;
}

.order-info-choice {
    margin-bottom: 40px;
}

.order-info-choice-text {
    font-size: 18px;
    color: rgb(18, 10, 6);
    font-weight: bold;
    margin-bottom: 5px;
}

.order-info .order-input {
    width: 294px;
    border: 1px solid #821328;
    border-radius: 30px;
    padding: 23px 25px;
    background: transparent;
    font-size: 15px;
    color: rgb(91, 9, 23);
    font-weight: bold;
    margin-bottom: 15px;
    box-sizing: border-box;
    height: 60px;
}

.order-info .order-input::placeholder {
    font-size: 15px;
    color: rgb(118, 12, 34);
    font-weight: bold;
}

.order-action .btn {
    width: 294px;
    font-size: 18px;
    height: 60px;
}

.order .container .strawberry .strawberry-1 {
    position: absolute;
    top: 11px;
    left: -37px;
    animation: move 2s linear infinite;
}

.order .container .strawberry .strawberry-2 {
    position: absolute;
    top: 432px;
    right: 169px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.footer {
    background-color: #c0707c;
    padding: 73px 0 62px 0;
    position: relative;

}

.footer .container {
    display: grid;
    grid-template-areas: "logo social phone"
        "rights social phone";
    align-items: center;
    justify-content: space-between;
}

.footer .logo {
    grid-area: logo;
}

.footer .socials {
    grid-area: social;
    text-align: center;
}

.footer .phone {
    grid-area: phone;
}

.footer .rights {
    grid-area: rights;
    font-size: 12px;
    color: rgb(227, 172, 180);
}

.footer .socials-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 15px;
}

.present {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.present-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
    background-color: #8213287F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.present-result {
    font-size: 15px;
    font-family: Gilroy-Medium, sans-serif;
    color: rgb(119, 10, 29);
    line-height: 1.333;
    position: absolute;
    bottom: -47px;
    right: calc(100% + 30px);
    width: 172px;
    padding: 14px;
    box-sizing: border-box;
    background-color: #feefee;
    border-radius: 10px;
    border: 2px solid #770a1d;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all ease;
}

.present-result:before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 18px;
    border: 16px solid transparent;
    border-left: 16px solid #770a1d;
}

.present-result:after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 21px;
    border: 13px solid transparent;
    border-left: 14px solid #feefee;
}

.present:hover .present-result {
    visibility: visible;
    opacity: 1;
    bottom: 7px;
}

@keyframes window {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(30%);
    }
}

.burger {
    display: none;
}

.close {
    display: none;
}